.mat-dialog-container {
    width: 800px;
}

.mat-select {
    width: 80%;
}

.table-container{
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}

textarea {
    width: 100%
}

md-input-container {
    width: 80%;
}

button {
    margin-right: 5px;
}

button.mat-primary {
    background-color: #02778c;
}

.float-right {
    float: right;
}

app-autocomplete {
    width: 80%;
}