<h1 md-dialog-title>{{data.title}}</h1>
<div md-dialog-content>

</div>
<div class="form-group">
    <md-select placeholder="Medical Provider" style="width:80%; margin-top:7px;" [(ngModel)]="data.driverMedicalProviderID" tabindex="1" name="driverMedicalProviderID">
        <md-option *ngFor="let type of driverMedicalProviders" [value]="type.medicalProviderId">
          {{type.medicalProviderName}}
        </md-option>
      </md-select>   
</div>
<div class="form-group">
  <md-input-container>
    <input placeholder="Rate" mdInput tabindex="2" [(ngModel)]="data.driverMedicalProviderRate">
  </md-input-container>
</div>
<div class="form-group">
  <md-input-container>
    <!-- [formControl]="contractStartDateFormControl" name="contractStartDate" -->
    <input mdInput [mdDatepicker]="pickerstartdate" tabindex="3" placeholder="Effective Date" [(ngModel)]="data.driverMedicalEffectiveDate">
    <button mdSuffix [mdDatepickerToggle]="pickerstartdate"></button>
    <!-- <md-error *ngIf="contractStartDateFormControl.hasError('required')">
        Start date is
        <strong>required</strong>
      </md-error> -->
  </md-input-container>
  <md-datepicker #pickerstartdate></md-datepicker>
</div>
<div class="form-group">
  <md-input-container>
    <!-- [formControl]="contractEndDateFormControl" name="contractEndDate" -->
    <input mdInput [mdDatepicker]="pickerenddate" tabindex="4" placeholder="Expiry Date" [(ngModel)]="data.driverMedicalExpirationDate">
    <button mdSuffix [mdDatepickerToggle]="pickerenddate"></button>
    <!-- <md-error *ngIf="contractEndDateFormControl.hasError('required')">
        End date is
        <strong>required</strong>
      </md-error> -->
  </md-input-container>
  <md-datepicker #pickerenddate></md-datepicker>

</div>

<div md-dialog-actions>
  <button md-button [md-dialog-close]="data" tabindex="5">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>